html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/pozadin.jpg");
   
}


img {
    border-radius: 1em;
}

p {
    text-align: justify;
    margin-top: 20px;
}

h2 {
    margin: 20px;
    text-align: center;
}


button {
    margin-top: 50px;
    margin-bottom: 50px;
}

.svet {
    margin-top: 50px;
    text-align: center;
}

footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin-top:calc(5% + 20px);
}